[submodule "emsdk"]
	path = ext/emsdk
	url = https://github.com/emscripten-core/emsdk.git
	branch = 3.1.18
[submodule "cairo"]
	path = ext/cairo
	url = git://anongit.freedesktop.org/git/cairo
	branch = 1.17.6
